body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 240px;
    padding: 32px 0 0 0;
    /* center content on y axis */
}

.header-home{
    /* full page header */
    height: 100vh;
    background-color: #222222;
    padding: 100px 0 0 0;
}

.header-home-description {
    /* make text big and prominent */
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
    max-width: 1500px;
    /* align center */
    margin: 0 auto;
}

.header-home-title {
    /* make text big and prominent */
    font-size: 4em;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
}


.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 584px;
}

.wrapper {
    display: flex;
  justify-content: center;
    width: 90%;
  margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

#page-content div .menu{
    padding-top:13px;
   }

   
   /* Header */
#page-content div .header{
    min-height:257px;
   }
   
   /* Paragraph */
   #page-content .header p{
    transform:translatex(0px) translatey(5px);
   }
   

/* Paragraph */
#page-content .header p{
    width:584px;
    max-width:1184px;
    min-width:1019px;
    font-size:20px;
    font-weight:500;
   }
   

.card {
    margin-bottom: 24px;
    margin-bottom: 12px;
    margin: 0 auto;
    width: 120%;
    max-width: 100%;
    padding: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    display: flex;
  justify-content: center;
}

/* Card */
#page-content div .card{
 min-height:584px;
}



/* Card */
#react-entry-point #_dash-global-error-container div div div #_dash-app-content div #page-content div .wrapper .card{
 width:200% !important;
}


.menu {
    height: 112px;
    width: 1212px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.logo-image {
    width: 20%;
    height: auto;
    /* center the image */
    margin: 0 auto;
    justify-self: unset;
    /* add some padding */
    padding: 4px;
}

.js-plotly-plot .svg-container{
    min-height:584px;
   }

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    height: auto;
    /* change font */
    font-family: "Lato", sans-serif;
  }
  
  .checkmark input{
    margin: 0px 3px 0px 0px;
  }
  
  .checkmark label{
    margin: 0px 20px 0px 3px;
  }

/* Paragraph */
.home-para {
    text-align:center;
    font-size:40px;
    text-transform:none;
    line-height:1.4em;
    font-weight:500;
    color: #FFFFFF;
    font-weight: 300;
    max-width: 1300px;
    margin: 0 auto;
   }
   
   /* Heading */
.home-heading{
    font-weight:700;
    line-height:1em;
    font-size:100px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
   }
   
/* Paragraph */
#page-content div .home-para{
    transform:translatex(0px) translatey(12px);
    font-size:30px;
    font-weight:700;
   }
   
   
.dropdown-multi {
    width: 256px;
    height: 48px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 10px;
}


.menu-explore {
    height: 112px;
    width: 1212px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu-experiment {
    height: 112px;
    width:324px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}


.Select-control-explore {
    width: 256px;
    height: 48px;
}

.Select--single-explore > .Select-control-explore .Select-value-explore, .Select-placeholder-explore {
    line-height: 48px;
}

.Select--multi-explore .Select-value-label-explore {
    line-height: 32px;
}

.menu-title-explore {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.menu-title-warning {
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #f90000;
}


/* Division */
.menu-explore > div:nth-child(1){
    width:591px;
   }
   
   #input-filter .dropdown-multi .Select-control-explore{
    width:208%;
   }
   
   /* Menu */
   #page-content div .menu-explore{
    min-height:171px;
   }
   
/* Select control */
#input-filter .dropdown-multi .Select-control{
    width:231%;
   }
   
   /* Menu explore */
   #page-content div .menu-experiment{

    width:324px;
   }

   /* Division */
#page-content div .menu-experiment > div{
    width:300px;
   }
   
   

/* Menu explore */
#page-content div .menu-explore{
    transform:translatex(0px) translatey(0px);
    height:171px;
   }
   
   /* Header */
   #page-content div .header{
    min-height:338px;
   }
   
   /* List Item */
   #react-entry-point div #page-content div .header .header-description div ul li{
    width:110% !important;
   }
   
   /* List Item */
   .header ul li{
    text-align:left;
   }
   
   /* Body */
   body{
    transform:translatex(0px) translatey(0px);
   }
   
   
/* List Item */
.header ul li{
    position:relative;
    left:-86px;
    padding-top:4px;
   }
   

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
  
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #1EAEDB; 
    text-decoration: underline;
    cursor: pointer;}
  a:hover {
    color: #0FA0CE; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

.menu-explore-data {
    height: 112px;
    width: 1212px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}
/* Menu explore data */
#page-content div .menu-explore-data{
    transform:translatex(0px) translatey(94px);
   }
   

.menu-title-success{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #1EAEDB;
    margin-bottom: 8px;
}